<div>
  <div style=" width: 100%;
 height: 400px;
 background-image: url('../../assets/Img/piscina.jpg');
 background-size: cover;
 border: 1px solid red;">

    <div class="row" style="background-color: white ;
float: right;
margin: 1%;
  font-weight: bold;
  border: 2px solid orange;
  opacity: 0.8;
  border-radius: 8px;">
      <div class="col cl-12">
        <app-calculadora></app-calculadora>
      </div>
    </div>
  </div>



</div>

<div class="text-center">
  <h3>Nuestros Servicios</h3>
  <br>
  <div class="container">
    <div class="row">
      <div class="col-12 col-sm-6">
        <app-servicio></app-servicio>
      </div>
      <div class="col-12 col-sm-6">
        <app-servicio></app-servicio>
      </div>
      <div class="col-12 col-sm-6">
        <app-servicio></app-servicio>
      </div>
      <div class="col-12 col-sm-6">
        <app-servicio></app-servicio>
      </div>
      <div class="col-12 col-sm-6">
        <app-servicio></app-servicio>
      </div>
    </div>
  </div>
</div>